@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";
:root{
--text-color: #060;
--bg-baby-powder: #FBFEFB; 
--bg-seasalt: #F8F9FA;
--bg-btn: #FCA311;
--bg-yellow-avanti: #FFDD00;
--bg-btn-hover: #FB8500;
--bg-orange-avanti: #ffb64d;
--bg-blue-green: #219EBC;
--bg-blue-green-hover: #0F7B95;
--text-prussian-blue: #023047;
--text-onyx: #464545;
--text-teste: #060;
--border-platinum: #E5E5E5;
--text-error: #c1121f;
--text-whatsapp: #59a52c;
}
.fa-solid,
.fa-regular{
    margin-right: 10px;
}
input[type=search]{
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center right;
  background-position-x: calc(100% - 5%);
  }
  /**
input[type=file]{
    width: 100%;
    height: 50px;
  }
  */
input[type=tel],
input[type=text],
input[type=date],
input[type=email],
input[type=option],
input[type=password],
textarea, select{
    outline: none;
    /* width: 100%; */
    margin: 3px 0;
    height: 40px;
    padding: 5px;
    border: 1px solid var(--border-platinum);
    border-radius: 6px;
    background: var(--bg-seasalt);
}
input::placeholder,
select::placeholder,
textarea::placeholder{
    color: var(--text-onyx);
}
.file-input-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  /* border: 2px dashed #aaa; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.file-input-wrapper input[type="file"] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.file-input-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
  table{
    width: 100%;
  }
  table, th, td {
    border: 1px solid var(--border-platinum);
    border-collapse: collapse;
    padding: 5px 0;
  }
  tr{
    /* display: flex; */
    font-size: 11px;
    text-align: center;
  }
  tr:nth-child(even) {
    background-color: var(--border-platinum);
  }
  th{
    margin: 0;
  }
  td a{
    color: var(--text-whatsapp);
  }
  td a .fa-pen{
    color: var(--bg-blue-green-hover);
  }
  td a .fa-trash{
    color: var(--text-error);
  }
.error{
    color: var(--text-error);
  }
  /* 
  dropdow do formulario
  */
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .show {display:block;}